$colors: (
    mainColor: #fb6200,
    mainColorLighter: #fb7700,
    secondaryColor: #000000,
    white: #fff,
);

$breakpoints: (
    xs: "480px",
    s: "576px",
    m: "768px",
    l: "992px",
    xl: "1200px",
)