$colors: (
    mainColor: #fb8c00,
    secondaryColor: #000000,
    white: #fff,
    mainColorLighter: #FB9D00
);

$breakpoints: (
    xs: "480px",
    s: "576px",
    m: "768px",
    l: "992px",
    xl: "1200px",
)