@use '../../scss/utils/variables' as variables;

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;

    &__action {
        &--check {
            color: map-get(variables.$colors, $key: green) !important;
        }
        &--close {
            color: map-get(variables.$colors, $key: red) !important;
        }
        &--edit {
            color: map-get(variables.$colors, $key: mainColor) !important;
        }
    }
    &__actions {
        display: flex;
        justify-content: center;
    }
}

.card-container {
    width: fit-content;
}
