@use "../../scss//utils/variables" as variables;

.training-container {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;

    &__info-container {
        height: 100% !important;
    }

    &__menu {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
    }

    &__or {
        font-size: 32px !important;
        font-weight: 500 !important;
    }

    &__section {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 25px !important;
    }

    &__grid {
        width: fit-content !important;
    }

    & img {
        width: 75px !important;
        height: 75px !important;
    }

    &__rounded-square {
        &:hover {
            background-color: transparent !important;
            border-color: transparent !important;
        }
        &--exercises {
            & img {
                width: 150px !important;
                height: 150px !important;
            }
        }
    }

    & a {
        height: 200px !important;
        width: 300px !important;
        border: 2px solid black;
        border-radius: 20px;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;

        &:hover {
            background-color: map-get($map: variables.$colors, $key: secondaryColor) !important;
        }
    }
}

p {
    color: map-get($map: variables.$colors, $key: mainColor) !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}


